<div class="list-manage">
  <div class="list-manage__inner">
    <button
      mat-flat-button
      color="primary"
      class="mat-elevation-z0"
      (click)="onDownload()"
    >
      <mat-icon class="button material-icons-outlined">file_download</mat-icon>

      Download JSON
    </button>

    <button
      mat-flat-button
      color="warn"
      class="button mat-elevation-z0"
      (click)="onClear()"
    >
      <mat-icon class="material-icons-outlined">delete</mat-icon>

      Clear
    </button>
  </div>
</div>
