@import "../../custom-theme.vars.scss";

.index {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  bottom: 3.2rem;
  left: 3.2rem;
  border: 3px dashed $ng-color-placeholder;
  border-radius: 3rem;

  &__content {
    font-size: 2rem;
    line-height: 1.5;
    width: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: $ng-color-mute;
    transform: translate(-50%, -50%);
  }
}
